<div class="container">
  <h2>Ajouter un Produit</h2>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">

    <div class="file-upload-container">
      <label class="file-upload-label">
        <span>Selectionnez une image</span>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
        <mat-icon>attach_file</mat-icon>
      </label>

      <div *ngIf="selectedFile" class="image-preview">
        <div class="circle-image">
          <img [src]="imagePreview" alt="Selected Image" class="preview-image">
        </div>
      </div>

    </div>

    <mat-form-field appearance="outline" classe="form-field">
      <mat-label>Selectionnez une Catégorie</mat-label>
      <mat-select name="categoryId" formControlName="categoryId">
      <mat-option *ngFor="let category of listOfCategories" [value]="category.id">
        {{category.name}}
      </mat-option>
      </mat-select>
      <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">
        Ce champs est obligatoire
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" classe="form-field">
      <mat-label>Nom</mat-label>
      <input matInput type="text" placeholder="Nom" formControlName="name"/>
      <mat-error *ngIf="productForm.get('name')?.hasError('required')">
        Ce champs est obligatoire
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" classe="form-field">
      <mat-label>Prix</mat-label>
      <input matInput type="number" placeholder="Prix" formControlName="price"/>
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">
        Ce champs est obligatoire
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" classe="form-field">
      <mat-label>Description</mat-label>
      <input matInput type="textarea" placeholder="Description" formControlName="description"/>
      <mat-error *ngIf="productForm.get('description')?.hasError('required')">
        Ce champs est obligatoire
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Ajouter</button>

  </form>

</div>
