<div class="container">
  <mat-card>

    <mat-card-title>Créer un compte</mat-card-title>

    <mat-card-content>
        <form [formGroup]="signupForm">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name" placeholder="Name" required>

            <mat-error *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched">
              ! Saisissez votre nom
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mail</mat-label>
            <input matInput formControlName="email" placeholder="email" required>

            <mat-error *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
              ! E-mail incorrect ou invalide. Veuillez corriger avant de réesayer
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="{{hidePassword ? 'password' : 'text'}}" formControlName="password" placeholder="password" required>

            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">
             ! Veuillez entrer un mot de passe valide
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirmer mots de passe</mat-label>
            <input matInput type="{{hideConfirmPassword ? 'password' : 'text'}}" formControlName="confirmPassword" placeholder="confirmPassword" required>

            <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="signupForm.get('confirmPassword').invalid && signupForm.get('confirmPassword').touched">
              ! Les mots de passe ne correspondent pas
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid"
          (click)="onSubmit()">S'inscrire</button>

        </form>
    </mat-card-content>
  </mat-card>
</div>
